<footer>
  <p id="footer-desc">ShinyTracker is an unofficial analytical tool dedicated to Star Citizen and Squadron 42. This site is not endorsed by or affiliated with the Cloud Imperium or Roberts Space Industries group of companies.</p>
  <p id="footer-info-copyright">All game content and materials are copyright of Cloud Imperium Rights LLC and Cloud Imperium Rights Ltd.. Star Citizen®, Squadron 42®, Roberts Space Industries®, and Cloud Imperium® are registered trademarks of Cloud Imperium Rights LLC. All rights reserved.</p>
  <p id="referral-code">STAR-F4S6-DQQN</p>
  <br><br>
</footer>
