<meta property="og:image" content="{{ site.url }}/assets/images/delta.png" />
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:description" content='Lists and displays detected changes on the RSI "Progress Tracker"'>
<link rel="icon" href="{{ site.url }}/assets/images/delta-favicon.png">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-CK010JHH87"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-CK010JHH87');
</script>