html, body {
    height: 100%
}

body > header h1:before {
    content: none;
    font-size: 24px;
}

body > header h1 {
    margin: 0;
}

.main {
    overflow: auto;
    padding-bottom: 200px;
}

footer {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    position: relative;
    clear: both;
}