---
layout: default
title: Data
---

<h2>Biweekly delta data dumps are accessible below:</h2>
<h3>Database Delta Tables</h3>
<ul>
{% assign data_files = site.static_files | where: "csv", true %}
{% for data_file in data_files %}
  <li>
    <a href="{{ data_file.path }}">{{ data_file.name }}</a>
  </li>
{% endfor %}
</ul>
<h3>Snapshots</h3>
<ul>
  {% assign data_files = site.static_files | where: "json", true | reverse %}
  {% for data_file in data_files %}
    <li>
      <a download="{{ data_file.name }}" href="{{ data_file.path }}">{{ data_file.name }}</a>
    </li>
  {% endfor %}
  </ul>
