<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/main.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}

{% seo %}
  </head>

  <body>

    <header>
      <div class="container">
        <a id="a-title" href="{{ '/' | relative_url }}">
          <h1>RSI Progress Tracker Delta Reports</h1>
        </a>
        <a href="{{ site.github.repository_url }}" class="btn btn-github"><span class="icon"></span>by ShinyHobo</a>
      </div>
    </header>

    <div class="container">
      <section id="main_content">
        {{ content }}

        {% for post in paginator.posts %}
            <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
            <p class="author">
                <span class="date">{{ post.date }}</span>
            </p>
            <div class="content">
                {{ post.content }}
            </div>
        {% endfor %}

        <!-- Pagination links -->
        <div class="pagination">
        {% if paginator.previous_page %}
            <a href="{{ paginator.previous_page_path }}" class="previous">
            Previous
            </a>
        {% else %}
            <span class="previous">Previous</span>
        {% endif %}
        <span class="page_number ">
            Page: {{ paginator.page }} of {{ paginator.total_pages }}
        </span>
        {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path }}" class="next">Next</a>
        {% else %}
            <span class="next ">Next</span>
        {% endif %}
        </div>
      </section>
    </div>
  </body>
</html>