<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/main.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}

{% seo %}
  </head>

  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P39WPJM" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div id="wrap">
        <header>
            <div class="container">
                <a id="a-title" href="{{ '/' | relative_url }}">
                    <h1>ShinyTracker</h1>
                    <h2>RSI "Progress Tracker" Delta Reports</h2>
                </a>
                <a href="https://github.com/ShinyHobo" class="btn btn-github" target="_blank"><span class="icon"></span>by ShinyHobo</a>
            </div>
        </header>

        <div class="container main">
            <section id="main_content" class="post">
                {{ content }}
            </section>
        </div>
    </div>
    <footer>
        <p id="footer-desc">ShinyTracker is an unofficial tracker dedicated to Star Citizen and Squadron 42. It covers changes to the roadmap relating to Star Citizen. This site is not endorsed by or affiliated with the Cloud Imperium or Roberts Space Industries group of companies.</p>
        <p id="footer-info-copyright">All game content and materials are copyright of Cloud Imperium Rights LLC and Cloud Imperium Rights Ltd.. Star Citizen®, Squadron 42®, Roberts Space Industries®, and Cloud Imperium® are registered trademarks of Cloud Imperium Rights LLC. All rights reserved.</p>
        </nav>
    </footer>
  </body>
  <script  type="text/javascript">
        var input = document.getElementById('top-deliverables-filter');
        input.addEventListener('keyup', function (event) {
            var filter = input.value.toUpperCase();
            var ol = document.getElementsByClassName('ranked-deliverables');
            for(var oi = 0; oi < ol.length; oi++) {
                var lis = ol[oi].getElementsByTagName('li');
                for (var i = 0; i < lis.length; i++) {
                    var name = lis[i].textContent;
                    if (name.toUpperCase().includes(filter)) {
                        lis[i].style.visibility = "visible";
                        lis[i].style.height = "auto";
                        lis[i].style.position = "relative";
                    } else {
                        lis[i].style.visibility = "hidden";
                        lis[i].style.height = "0px";
                        lis[i].style.position = "absolute";
                    }
                }
            }
        });
  </script>
</html>