html {
  font-family: sans-serif;
  font-size: 14px;
  
  scrollbar-width: thin;
  scrollbar-color: darkturquoise rgb(21, 21, 21);
}

.container {
  position: fixed;
  z-index: 100000;
  top: 0;
}

#root {
  margin-top: 100px;
}

::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}

::-webkit-scrollbar-track {
  background: rgb(21, 21, 21);
}
::-webkit-scrollbar-thumb {
  background-color: darkturquoise;
}

.List {
  width: fit-content;
}

.List table {
  background-color: #131516;
  max-width: 100%;
  border-collapse: collapse;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: relative;
}

.List thead {
  display: flex;
  flex-direction: column;
  background-color: #131516;

  position: sticky;
  top: 0;
  z-index: 1;
}

.List thead tr {
  height: 70px;
}

.List tr {
  display: flex;
  flex-direction: row;
}

.List td,
.List th {
  display: flex;
  flex-direction: row;
  overflow-y: auto;
  line-height: 23px;
}

.ListItemEven {
  background-color: #202324;
}

#terminal-container {
  width: 99vw;
}

textarea {
  color: #d8d4cf;
  background-color: #222324;
}

.deliverable-list-container {
  display: flex;
}

.deliverable-span {
  border: 1px solid cadetblue;
}

.deliverable-info {
  width: 400px;
}

.deliverable-info .deliverable-info-header {
  text-align: center;
  position: sticky;
  top: 0;
  border-bottom: 1px solid white;
  height: 56px;
  background-color: black;
  margin: 0;
  display: flex;
  width: 100%;
  z-index: 10;
}

.deliverable-info .deliverable-info-header h2 {
  z-index: 2;
}

.deliverable-info .description {
  margin-left: 10;
  margin-bottom: 5;
  padding-right: 5;
  overflow-y: auto;
  font-size: 11;
  scrollbar-width: thin;
  scrollbar-color: darkturquoise rgb(21, 21, 21);
}

.deliverable-info .projects {
  margin-right: 10;
  margin-bottom: 5;
  text-align: right;
  cursor: help;
}

.deliverable-info .deliverable-info-box {
  scrollbar-width: thin;
  scrollbar-color: darkturquoise rgb(21, 21, 21);
  border-bottom: 1px solid white;
  display: flex;
  flex-direction: column;
  border-right: 1px solid white;
  position: relative;
}

.deliverable-info .deliverable-info-box a {
  width: 100%;
  margin: auto 0;
}

.deliverable-info .deliverable-info-box a h3 {
  margin-bottom: 0;
  width: 100%;
  padding: 5px;
  line-height: 1.2;
  margin-left: 5px;
  font-size: 1rem;
  line-height: 1rem;
}

.deliverable-info .deliverable-info-box .projects {
  text-align: center;
  width: 60px;
  padding-top: 6px;
  margin-right: 5px;
  display: flex;
}

.deliverable-info .deliverable-info-box .projects span {
  width:  100%;
}

.deliverable-info .deliverable-info-box .projects img {
  height: 20px;
}

.deliverable-timeline {
  cursor: grab;
  user-select: none;
  display: flex;
  height: auto;
  width: 100%;
  scrollbar-width: none;
  overflow: hidden;
  position: relative;
}

.deliverable-timeline:active {
  cursor: grabbing;
}

.deliverable-timeline .timeline-scroll .deliverable-rows .deliverable-row {
  min-height: 100px;
  border-bottom: 1px solid white;
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
}

.deliverable-timeline .months .month {
  width: 100px;
  float: left;
  border-right: 1px solid darkslategray;
  box-sizing: border-box;
  z-index: -5;
}

#month-header {
  position: absolute;
  height: 56px;
  background-color: black;
}

#month-header .month-box {
  width: 100px;
  float: left;
  background-color: black;
  height: 26px;
  box-sizing: border-box;
}

#month-header .quarter-group {
  width: 300px;
  float: left;
  box-sizing: border-box;
  height: 30px;
}

#month-header .month-box h3 {
  margin: 0px;
}

.deliverable-timeline .months {
  display: flex;
  height: 100%;
}

.deliverable-timeline .timeline-scroll {
  position: relative;
}

.deliverable-timeline .timeline-scroll .deliverable-rows {
  position: absolute;
  width: 100%;
  top: 57px;
}

.scroll{
  width: 200px;
  overflow-x: scroll;
  scrollbar-width: none;
}

#scrollable-timeline {
  height: 100vh;
  /* overflow-y: scroll; */
  scrollbar-width: thin;
  scrollbar-color: darkturquoise rgb(21, 21, 21);
}

#scrollableDiv {
  height: calc(100vh - 200px);
  overflow-x: hidden; 
  scrollbar-width: none;
  border-bottom: 1px solid white
}

#timeline-container {
  width: 100vw;
}

#timeline-container {
  width: 100vw;
}

#timeline-info-box {
  width: 100vw;
}

@media only screen and (max-width: 800px) {
  #timeline-container {
    width: 800px;
  }

  #timeline-info-box {
    width: 800px;
  }

  body {
    overflow-x: auto !important;
  }
}

#scrollable-timeline .infinite-scroll-component {
  overflow: unset !important;
}

.today-line, .sampled-line {
  height: 100%;
  position: absolute;
  z-index: -1;
}

.deliverable-row .team {
  margin-top: 2px;
  margin-bottom: 2px;
  position: relative;
}

.deliverable-row .team .discipline {
  height: 10px;
  position: relative;
}

.deliverable-row .team .discipline .time-box {
  margin: 2px;
}

.deliverable-row .team .discipline .time-box .timeline-bar:hover {
  border: 2px solid white;
  z-index: 50;
  transform: translateY(-2px);
}

.deliverable-row .team .discipline .time-box .timeline-bar {
  position: absolute;
}

.timeline-bar-popup {
  position: fixed; 
  z-index: 10000; 
  background-color: black; 
  text-align: center; 
  font-size: 14; 
  margin-top: 14px;
  color: white;
  margin-left: 0;
  margin-right: 0;
  border: 1px solid #b5e853;
  border-radius: 5px;
}

.filter-disable {
  pointer-events: none;
  opacity: 0.5;
}

.filter-fields button, select {
  cursor: pointer;
}

.filter-fields select {
  scrollbar-width: thin;
}

.filter-fields .filter-options input[type='checkbox'], label {
  cursor: pointer;
}

.timeline-scroll .deliverable-row .team .selected-team {
  background-color: white !important;
  border: 1px dashed black !important;
  opacity: 0.2 !important;
}

.timeline-scroll .deliverable-row .team .team-group {
  position: absolute;
  top: -1;
  z-index: -1;
  border: 1px solid dimgray;
  background-color: white;
  opacity: 0.3;
  border-radius: 10px;
}
:root {
  --height: 312px;
}
.upstream-team {
  background-color: #242b5a !important;
}

.downstream-team {
  background-color: #30040e !important;
}

nav span {
  margin-right: 10px;
}

.container .btn-container {
  margin-left: 10px;
}

.team-list {
  position: absolute;
  width: 40px;
  right: -41px;
  top: 10px;
  z-index: 1;
  pointer-events: none;
}

.team-list .team {
  position: relative;
}

.team-list .team .discipline {
  height: 12px;
}

.team-list .team .team-list-abbr {
  margin: 0;
  position: absolute;
  top: 0;
  line-height: 0.9;
  background-color: rgba(0,0,0,0.5);
  display: none;
}

label {
  user-select: none;
}

footer {
  font-size: 9px;
  line-height: 1;
}