html {
  font-family: sans-serif;
  font-size: 14px;
  
  scrollbar-width: thin;
  scrollbar-color: darkturquoise rgb(21, 21, 21);
}

::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}

::-webkit-scrollbar-track {
  background: rgb(21, 21, 21);
}
::-webkit-scrollbar-thumb {
  background-color: darkturquoise;
}

.List {
  width: fit-content;
}

.List table {
  background-color: #131516;
  max-width: 100%;
  border-collapse: collapse;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: relative;
}

.List thead {
  display: flex;
  flex-direction: column;
  background-color: #131516;

  position: sticky;
  top: 0;
  z-index: 1;
}

.List thead tr {
  height: 70px;
}

.List tr {
  display: flex;
  flex-direction: row;
}

.List td,
.List th {
  display: flex;
  flex-direction: row;
  overflow-y: auto;
  line-height: 23px;
}

.ListItemEven {
  background-color: #202324;
}

textarea {
  color: #d8d4cf;
  background-color: #222324;
}

.deliverable-list-container {
  display: flex;
}

.deliverable-span {
  border: 1px solid cadetblue;
}

.deliverable-info {
  width: 400px;
  border-right: 1px solid cadetblue;
}

.deliverable-info h3 {
  margin-top: 5;
  margin-bottom: 0;
  margin-left: 10;
}

.deliverable-info .description {
  margin-left: 10;
  margin-bottom: 5;
  height: 100px;
  overflow-y: auto;
  font-size: 12;
  scrollbar-width: thin;
  scrollbar-color: darkturquoise rgb(21, 21, 21);
}

.deliverable-info .projects {
  margin-right: 10;
  margin-bottom: 5;
  text-align: right;
}

.deliverable-info tr {
  overflow: hidden;
}

.deliverable-timeline {
  overflow-x: auto;
  cursor: grab;
}

.deliverable-timeline {
  overflow-x: auto;
  cursor: grab;
}

.deliverable-timeline:active {
  cursor: grabbing;
}

.scroll{
  width: 200px;
  overflow-x: scroll;
}

.table-scroll {
  overflow-x: scroll;
  user-select: none;
}

#timeline-container {
  width: 99vw;
}